/* img {
  height: 200px;
  width: 200px;
}

.App {
  width: 90%;
  height: 100%;
  overflow: hidden;
  background: linear-gradient(to right, #ffd52c, #dfb408);
  margin: auto;
}

.imagenpokemon {
  margin: auto;
}

.carta {
  border: 2px solid #c7a008 !important;
  height: 500px !important;
  min-width: 300px !important;
}



h5 {
  text-transform: capitalize;
}

footer {
  width: 100%;
  display: flex;
  background-color: grey;
  color: white;
  height: 30px;
  text-align: center;
}
 */

/* html {
  background-color: #ffd52c;
} */

html,
body {
  height: 100%;
  background: #ffd52c !important;
}
.imagen {
  min-height: 250px;
}
.cartadiv {
  margin-top: 25%;
}
.pokemon {
  color: #ffcb05;
  font-weight: bold;
}
.pokemon:hover {
  color: #b38f03;
}
/* 
 .fill {
  min-height: 100%;
  height: 100%;
  background-color: #394263;
}

 */
